@model Expro.ViewModels.DocumentDetailsForSiteVM
@using Expro.Models.Enums
@using Expro.Common

@{
    ViewData["Title"] = localizer["SampleDocument"];
    ViewData["DocumentType"] = DocumentTypesEnum.SampleDocument;
}

<div class="w-lg-60 mx-lg-auto">
    <h2>@ViewData["Title"]</h2>

    @await Html.PartialAsync("/Views/DocumentPartials/_Details.cshtml", Model)
</div>

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/quill/dist/quill.snow.css">
}

@section Scripts {
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>

    <script src="~/js/Site/Document/Details.js"></script>
    <script>
        $(document).ready(function () {
            var localizer = {
                "AreYouSureYouWantToPurchase": '@localizer["AreYouSureYouWantToPurchase"]'
            };

            SetVariables(localizer);

            SetLikeType("@Constants.LikeTypes.DOCUMENT");
            InitQuill();
        });
    </script>
}