<p><strong>О проекте</strong></p>
<p>&nbsp;</p>
<p>Добро пожаловать на сайт expro.uz!</p>
<p>Этот проект создан, главным образом, для того, чтобы он приносил пользу и его посетителям, и зарегистрированным в нем экспертам.</p>
<p>Сайт expro.uz призван оказывать помощь гражданам в разъяснении юридических, бухгалтерских, налоговых вопросов, повышать уровень грамотности населения.</p>
<p>&nbsp;</p>
<p><strong>Посетителям expro.uz</strong></p>
<p>&nbsp;</p>
<p>Любой человек может оказаться в ситуации, когда ему потребуется консультация профессионального специалиста в сфере юриспруденции, бухгалтерии или налогообложении.</p>
<p>Сайт expro.uz - один из немногих ресурсов, где вы сможете получить профессиональную онлайн консультацию от профессиональных юристов, адвокатов, бухгалтеров, аудиторов и налоговых консультантов (Эксперты).</p>
<p>Чтобы найти решение интересующей вас проблемы, вам достаточно пройти регистрацию и заполнить специальную форму вопроса на сайте. Зарегистрированные на нашем портале Эксперты увидят вопрос и ответят на него.</p>
<p>&nbsp;</p>
<p><strong>Экспертам сайта expro.uz</strong></p>
<p>&nbsp;</p>
<p>Вы хотите заявить о себе, как о профессионале?</p>
<p>Хотите, чтобы вас заметили и оценили ваш высокий уровень квалификации?</p>
<p>Сайт expro.uz предоставляет вам такую возможность. Данный ресурс для вас будет являться таким местом, где вы сможете раскрыть свои профессиональные качества. Зарегистрировавшись и работая на сайте expro.uz, вы сможете заработать репутацию квалифицированного специалиста, занять почетное место в "Топ экспертов".</p>
<p>Система сайта предусматривает начисление баллов в рейтинг экспертов за активное участие в консультациях и других сервисах сайта. Количество и качество ответов на вопросы, полученные благодарности, а также активное участие в других сервисах сайта формирует ваш авторитет и место в каталоге портала.</p>
<p>Более того, на сайте у вас будет личный кабинет эксперта. В профиль можно загрузить фотографию, указать специализацию и опыт работы.</p>
<p>Прямо на личную страничку Эксперта поступают вопросы посетителей, и вы сразу же можете приступать к консультированию.</p>
<p>&nbsp;</p>
<p><strong>Об условиях пользования</strong></p>
<p>&nbsp;</p>
<p>Для эффективного и выгодного сотрудничества посетителей портала и экспертов разработаны &ldquo;Условия пользования&rdquo;, регулирующее взаимодействие сторон, уточняющее степень их ответственности, права и обязанности. Ознакомиться с Условиями можно на соответствующей странице нашего сайта, либо при регистрации на сайте.</p>