@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@using Expro.Models.Enums


@if (SignInManager.IsSignedIn(User))
{
    <li class="list-inline-item">
        @{
            var userTypeClaim = User.Claims.FirstOrDefault(c => c.Type == "UserType");
            if (userTypeClaim != null && (!string.IsNullOrWhiteSpace(userTypeClaim.Value)))
            {
                int userTypeInt = 0;
                int.TryParse(userTypeClaim.Value, out userTypeInt);
                if (Enum.IsDefined(typeof(UserTypesEnum), userTypeInt))
                {
                    if ((UserTypesEnum)userTypeInt == UserTypesEnum.Admin)
                    {
                        <div class="hs-unfold">
                            <a href="/Admin/Profile" class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary" title="Manage">Hello @User.Identity.Name!</a>
                        </div>
                    }
                    else if ((UserTypesEnum)userTypeInt == UserTypesEnum.Expert)
                    {
                        <div class="hs-unfold">
                            <a href="/Expert/ExpertProfileMainInfo" class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary" title="Manage">Hello @User.Identity.Name!</a>
                        </div>
                    }
                    else if ((UserTypesEnum)userTypeInt == UserTypesEnum.SimpleUser)
                    {
                        <div class="hs-unfold">
                            <a href="/User/Profile" class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary" title="Manage">Hello @User.Identity.Name!</a>
                        </div>
                    }
                }
            }
        }
    </li>
    <li class="list-inline-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <div class="hs-unfold">
                <button type="submit" class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary">Logout</button>
            </div>
        </form>
    </li>
}
else
{
    <li class="list-inline-item">
        <a class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="list-inline-item">
        <div class="hs-unfold">
            <a class="js-hs-unfold-invoker btn btn-xs btn-ghost-secondary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </li>

}

