<p><strong>Условия пользования сайтом </strong></p>
<p>&nbsp;</p>
<p>Регистрируясь на сайте expro.uzи/или пользуясь сайтом без регистрации, Вы подтверждаете свое полное согласие со всеми пунктами настоящих Условий пользования сайтом (далее - Условия).</p>
<p>В случае несогласия с одним или несколькими пунктами Условий просьба покинуть данный сайт.</p>
<p>&nbsp;</p>
<p><strong>Общая информация</strong></p>
<p>Сайт expro.uz является интернет-ресурсом и представляет собой совокупность информации и программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу <a href="http://expro.uz">http://expro.uz</a><u> </u></p>
<p>Все права на сайт в целом и на использование доменного имени <a href="http://intelligent.uz">http:// expro.uz</a> &nbsp;принадлежат Администрации сайта. Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Условиями и действующим законодательством Республики Узбекистан.</p>
<p>Для получения доступа и возможности использования сервисов сайта пользователю необходимо пройти процедуру регистрации и получить уникальные логин и пароль. Каждому пользователю право пройти процедуру регистрации предоставляется один раз.</p>
<p>Для осуществления процедуры регистрации, пользователю необходимо иметь действующий e-mail адрес.</p>
<p>&nbsp;</p>
<p><strong>Администратор сайта expro.uz:</strong></p>
<p>&nbsp;</p>
<p>Предоставляет программное обеспечение для оказания онлайн-консультаций.</p>
<p>Не является работодателем экспертов, консультирующих на сайте, и не заключало с экспертами никаких соглашений.</p>
<p>Не несет ни финансовой, ни юридической, ни другой ответственности за качество консультаций, предоставляемых экспертами.</p>
<p>Не подтверждает надежность любого совета, мнения, утверждения или любой другой информации отображаемой, загруженной или распространяемой через данный сайт.</p>
<p>Имеет право отправлять пользователям электронные письма информационного и рекламного характера, связанные с предоставляемыми Сайтом услугами.</p>
<p>Предупреждает о том, что ответы и консультации экспертов носят рекомендательный характер, в связи с чем, пользователи должны самостоятельно принимать решение воспользоваться или нет указанными консультациями.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>На сайте expro.uz запрещено:</strong></p>
<p>&nbsp;</p>
<p>- обмен контактами с пользователями: e-mail адресами, телефонами, номерами ICQ, Skype;</p>
<p>- разглашение информации личного характера, полученной в процессе консультирования, третьим лицам;</p>
<p>- копирование текстов с других сайтов (за исключением цитат с указанием источника);</p>
<p>- копирование текстов сайта expro.uz на другие сайты без разрешения администрации (за исключением цитат с указанием источника);</p>
<p>- загрузка, передача или размещение любым другим способом фотографий, либо изображений, исключительные авторские права на которые принадлежат третьим лицам;</p>
<p>- загрузка, посылка, передача или любого другого способа размещение информации, который пользователь не имеет права делать доступным в соответствии с законодательством РУз или согласно каким-либо контрактным отношением;</p>
<p>- сбор и хранение персональных данных третьих лиц без соответствующего на то разрешения и/или согласия этих лиц;</p>
<p>- нецензурные выражения;</p>
<p>- распространение рекламы или спама;</p>
<p>- призыв к насильственному изменению существующего конституционного строя, территориальной целостности Республики Узбекистан;</p>
<p>- пропаганда войны, насилия и терроризма, а также идей религиозного экстремизма, сепаратизма и фундаментализма;</p>
<p>- разглашение сведений, составляющих государственные секреты или иную охраняемую законом тайну;</p>
<p>- распространение информации, возбуждающей национальную, расовую, этническую или религиозную вражду, а также порочащей честь и достоинство или деловую репутацию граждан, допускающей вмешательство в их частную жизнь;</p>
<p>- пропаганда наркотических средств, психотропных веществ и прекурсоров;</p>
<p>- пропаганда порнографии;</p>
<p>- совершения других действий, влекущих за собой уголовную и иную ответственность в соответствии с законом;</p>
<p>- публиковать материалы дознания или предварительного следствия без письменного разрешения прокурора, следователя или дознавателя, предварять результаты конкретного дела до принятия судом решения либо иным путем оказывать воздействие на суд до вступления его решения в законную силу;</p>
<p>- предоставлять пользователям сайта заведомо ложную информацию;</p>
<p>- предоставление пользователям негативной информации о других экспертах;</p>
<p>- регистрация на сайте в качестве эксперта при отсутствии соответствующего высшего или средне - специального образования;</p>
<p>- давать рекомендации, которые могут быть восприняты пользователями сайта как обязательные.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>При регистрации на сайте expro.uz запрещено:</strong></p>
<p>&nbsp;</p>
<p>- размещение в качестве &laquo;фото&raquo; чего-либо, кроме актуальной на данный момент своей фотографии с лицом;</p>
<p>- размещение частей тела или лица, фотографии стоящих вдалеке людей, затемнение снимка или публикация чёрных профилей или теней, равно как и глубокая обработка фотографий;</p>
<p>- регистрация пользователей младше 18 лет;</p>
<p>- регистрация с чужими или фиктивными данными;</p>
<p>&nbsp;</p>
<p><strong>При написании вопросов, ответов, комментариев запрещено:</strong></p>
<p>- задавать &laquo;Вопросы&raquo;, не являющиеся вопросами, то есть не предполагающие ответа;</p>
<p>- давать &laquo;Ответы&raquo;, не дающие никакого ответа на поставленный вопрос, к примеру высказывания типа &laquo;Изучайте закон&raquo; &laquo;Не советую так поступить&raquo; &laquo;Я не знаю&raquo;;</p>
<p>- писать вопросы, ответы не соответствующие тематике сайта или выбранной категории, предоставлять ссылки на другие ресурсы в ответах на вопросы;</p>
<p>&nbsp;</p>
<p>Чтобы предупредить повторяемость однородных вопросов, перед тем задать вопрос, попробуйте найти ответ на ваш вопрос пользуясь службой поиска. Может быть на Ваш вопрос уже имеется ответ экспертов. Если Вы не нашли ответ на Ваш вопрос, тогда задайте его.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Администрация сайта не несет ответственности:</strong></p>
<p>- за любые прямые или непрямые убытки, произошедшие из-за использования либо невозможности использования сервисов сайта;</p>
<p>- за любые прямые или непрямые убытки, произошедшие из-за заявления или поведение любого третьего лица в сервисах сайта;</p>
<p>- за последствия использования пользователями материалов, полученных ими с использованием сервисов сайта. Любые материалы, полученные пользователем с использованием сервисов сайта, могут быть использованы пользователем на свой собственный страх и риск.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Администрация сервиса expro.uz оставляет за собой право:</strong></p>
<p>- отказать в регистрации пользователя без объяснения причин;</p>
<p>- отказать в публикации на страницах сайта информации, либо удалить любую информацию, опубликованную ранее, без объяснения причин;</p>
<p>- не принимать участия в возможных разногласиях и спорах между пользователями;</p>
<p>- в одностороннем порядке вносить изменения в настоящие условия.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>