<p><strong>Сайтдан фойдаланиш шартлари</strong></p>
<p>&nbsp;</p>
<p>expro.uz сайтида рўйхатдан ўтиш орқали ёки рўйхатдан ўтмасдан фойдаланиш орқали Сиз мазкур шартларга рози эканлигингизни тасдиқлайсиз.</p>
<p>Ушбу шартларнинг бирор бандига рози бўлмасангиз сайтдан фойдаланмаслигингиз мумкин.</p>
<p>&nbsp;</p>
<p><strong>Умумий маълумотлар</strong></p>
<p>Сайтга ҳамда <a href="http://intelligent.uz">http://expro.uz</a> доменидан фойдаланишга бўлган ҳуқуқ сайт администраторига тегишлидир. Сайт администратори ушбу шартлар ва Ўзбекистон Республикасининг амалдаги қонунчилигига асосан сайтдан фойдаланишни хохловчиларга сайтдан фойдаланиш имкониятини тақдим этади.</p>
<p>Сайтдан ва унинг хизматларидан фойдаланиш имкониятига эга бўлиш учун фойдаланувчи рўйхатдан ўтиши ҳамда логин ва парол олиши лозим. Ҳар бир фойдаланувчига бир марта рўйхатдан ўтиш имконияти берилади.</p>
<p>Рўйхатдан ўтиш учун фойдаланувчи электрон почта (e-mail) манзилига эга бўлиши лозим.</p>
<p>&nbsp;</p>
<p><strong>expro.uz сайти администратори:</strong></p>
<p>&nbsp;</p>
<p>Онлайн маслаҳатлар бериш учун дастурий таъминот тақдим этади.</p>
<p>Сайтда маслаҳат берувчи Экспертларнинг иш берувчиси хисобланмайди, шунингдек улар билан бирор бир шартнома тузмаган.</p>
<p>Экспертлар томонидан берилган маслаҳатларнинг молиявий, ҳуқуқий ва бошқа оқибатлари учун жавобгар эмас.</p>
<p>Мазкур сайт орқали тарқатилаётган маслаҳат, фикр ёки бошқа ҳар қандай маълумотнинг ишончлилигини тасдиқламайди.</p>
<p>Фойдаланувчиларга сайт хизматларини кўрсатиш билан боғлиқ маълумот ва реклама тусидаги электрон хабарлар жўнатиши мумкин.</p>
<p>Экспертларнинг маслахатлари тавсиявий хусусиятга эга эканлигини маълум қилади ва шу сабабли фойдаланувчилар муайян маслахатдан фойдаланиш ёки фойдаланмасликка мустақил қарор қиладилар.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>expro.uz сайтида таъқиқланади:</strong></p>
<p>&nbsp;</p>
<p>- фойдаланувчиларнинг e-mail манзили, телефон рақами, ICQ, Skype рақамларини ўзаро алмашишлари;</p>
<p>- сайтдан фойдаланиш жараёнида олинган учинчи шахслар ҳақидаги шахсий маълумотларни ошкор қилиш;</p>
<p>- бошқа сайтлардан матнларни кўчириб чоп этиш (манбаси кўрсатилган холлар бундан мустасно);</p>
<p>- expro.uz сайтидан матнларни администратор рухсатисиз бошқа сайтларга кўчириш (expro.uz сайтига хавола қилинган холлар бундан мустасно);</p>
<p>- муаллифлик ҳуқуқи бошқа шахсларга тегишли бўлган расмларни юклаш, ўтказиш ёки жойлаштириш;</p>
<p>- Ўзбекистон Республикаси қонунчилиги ҳамда фойдаланувчининг шартномавий муносабатларига асосан ошкор қилиниши мумкн бўлмаган маълумотларни юклаш, жўнатиш, жойлаштириш ёки бошқача усулда ошкор қилиш;</p>
<p>- бошқа шахслар ҳақидаги маълумотларни уларнинг розилигисиз тўплаш ва сақлаш;</p>
<p>- реклама ва спам тарқатиш;</p>
<p>- Ўзбекистон Республикасининг мавжуд конституциявий тузумини, ҳудудий яхлитлигини зўрлик билан ўзгартиришга даъват қилиш;</p>
<p>- уруш, зўравонлик ва терроризмни, шунингдек диний экстремизм, сепаратизм ва ақидапарастлик ғояларини тарғиб қилиш;</p>
<p>- давлат сири бўлган маълумотларни ёки қонун билан қўриқланадиган бошқа сирни ошкор этиш;</p>
<p>- миллий, ирқий, этник ёки диний адоват қўзғатувчи ахборот тарқатиш;</p>
<p>- агар қонунда бошқача қоида назарда тутилмаган бўлса, гиёҳвандлик воситалари, психотроп моддалар ва прекурсорларни тарғиб қилиш;</p>
<p>- порнографияни тарғиб этиш;</p>
<ul>
    <li>қонунга мувофиқ жиноий ва ўзга жавобгарликка сабаб бўладиган бошқа ҳаракатларни содир этиш мақсадида фойдаланилишига йўл қўйилмайди;</li>
    <li>оммавий ахборот воситалари орқали фуқароларнинг шаъни ва қадр-қимматини ёки ишчанлик обрўсини таҳқирлаш, шахсий ҳаётига аралашиш;</li>
    <li>прокурор, терговчи ёки суриштирувчининг ёзма рухсатисиз суриштирув ёки дастлабки тергов материалларини эълон қилиш, муайян иш бўйича суд қарори чиқмасдан туриб ёки суднинг қарори қонуний кучга кирмай туриб, унинг натижаларини тахмин қилиш ёхуд судга бошқача йўл билан таъсир кўрсатиш;</li>
</ul>
<p>- сайт фойдаланувчиларига атайин ёлғон маълумот тақдим этиш;</p>
<p>- сайт фойдаланувчиларига бошқа экспертлар ҳақида салбий маълумот тарқатиш;</p>
<p>- ўрта-махсус ёки олий маълумотга эга бўлмаган холда сайтда эксперт сифатида рўйхатдан ўтиш;</p>
<p>- фойдаланувчилар томонидан бажарилиши мажбурий деб қабул қилиниши мумкин бўлган маслаҳатлар бермаслик.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>expro.uz сайтида рўйхатдан ўтиш жараёнида таъқиқланади:</strong></p>
<p>- ўзининг расмидан бошқа бирор нарса ёки шахснинг расмини жойлаштириш;</p>
<p>- бегона ёки сохта маълумотлар билан рўйхатдан ўтиш;</p>
<p>- битта шахснинг бир неча бор рўйхатдан ўтиши.</p>
<p>&nbsp;</p>
<p><strong>Савол, жавоб ва шархлар ёзишда таъқиқланади:</strong></p>
<p>- савол мазмунига эга бўлмаган, яъни жавоб талаб қилмайдиган жумлаларни жойлаштириш;</p>
<p>- саволга жавоб бўла олмайдиган&nbsp; (масалан, &ldquo;Қонунни ўқинг&rdquo;, &ldquo;Бундай қилишни маслаҳат бермайман&rdquo;, &ldquo;Билмайман&rdquo;) жавобларни жойлаштириш;</p>
<p>- сайт йўналишларига мувофиқ бўлмаган саволларни йўллаш ва жавоблар бериш, жавобларда бошқа сайтларга хавола қилиш.</p>
<p>&nbsp;</p>
<p>Саволлар қайтарилишининг олдини олиш мақсадида, савол беришдан олдин излаш хизматидан фойдаланинг, сайтда сизнинг саволингизга олдин жавоб берилган бўлиши мумкин. Саволингизни жавоб топилмаган тақдирда савол йўлланг.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Сайт администратори қуйидагилар учун жавобгар эмас:</strong></p>
<p>- сайтдан фойдаланиш оқибатида етказилган ҳар қандай зарар учун;</p>
<p>- сайт хизматларида ҳар қандай шахснинг хатти-харакатлари орқали етказилган зарарлар учун;</p>
<p>- сайт фойдаланувчилари томонидан сайтдан олинган маълумотлардан фойдаланиш оқибатлари учун.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>expro.uz сайти администратори қуйидаги ҳуқуқларга эга:</strong></p>
<p>- фойдаланувчиларни рўйхатдан ўтказишни рад этиш;</p>
<p>- сайт сахифаларида малумотни чоп этишни рад этиш ёки олдин чоп этилган ҳар қандай маълумотни ўчириш;</p>
<p>- фойдаланувчилар ўртасидаги низоларда иштирок этмаслик;</p>
<p>- ушбу шартларга бир томонлама ўзгартириш киритиш.</p>
<p>&nbsp;</p>