@model Expro.ViewModels.DocumentDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Вопрос";
    ViewData["DocumentType"] = DocumentTypesEnum.QuestionDocument;
    ViewData["ApprovedStatusAlertText"] = "Вопрос подтвержден";
    ViewData["RejectedStatusAlertText"] = "Вопрос отменен";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Areas/Admin/Views/DocumentPartials/_Details.cshtml", Model)

@section Scripts {
    <script src="~/js/Areas/Admin/Document/Details.js"></script>
    <script>
        SetDocumentType("@ViewData["DocumentType"]");
    </script>
}