@model Expro.ViewModels.DocumentPaidCreateVM
@using Expro.Models.Enums
@using Expro.Common

@{
    ViewData["Title"] = "Добавить новый платный Образцовый документ";
    bool userIsAllowedToWorkWithPaidMaterials = false;
    bool.TryParse(ViewData["userIsAllowedToWorkWithPaidMaterials"].ToString(),
        out userIsAllowedToWorkWithPaidMaterials);
}

@if (userIsAllowedToWorkWithPaidMaterials)
{
    <form asp-action="CreatePaid" id="createForm">
        <div class="border-bottom mb-4">
            <h3>@ViewData["Title"]</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- Form Group -->
                <div class="form-group">
                    <label asp-for="Title" class="input-label"></label>
                    <input asp-for="Title" class="form-control" placeholder="Дайте название" aria-label="Дайте название">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <!-- End Form Group -->
            </div>
        </div>
        <!-- End Row -->

        <div class="row">
            <div class="col-md-6">
                <div class="mt-7 mb-7">
                    <button type="submit" class="btn btn-block btn-primary">Продолжить</button>
                    <div class="spinner-border spinner" style="display: none;"></div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div class="alert alert-soft-danger text-center rounded-0 mb-0" role="alert">
        Пулли намунавий хужжат ёзиш учун 100 рейтинг тўпланг ва маълумотингизни (диплом) тасдиқланг. Батафсил маълумот учун <a href="#">Пулли хизмат кўрсатиш шартларини ўқинг</a>
    </div>
}

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#createForm").submit(function () {
                var isValid = $('#createForm').valid();
                if (isValid) {
                    ShowFormSpinner();
                    DisableFormElements();
                }
            });
        });

        function ShowFormSpinner() {
            $("#createForm .spinner").show();
        }

        function DisableFormElements() {
            $("form#createForm input").attr("readonly", "readonly");
            $("form#createForm button").attr("disabled", "disabled");
        }
    </script>
}
