@model Expro.ViewModels.DocumentFreeCreateVM
@using Expro.Models.Enums
@using Expro.Common

@{
    ViewData["Title"] = localizer["AddNewSampleDocument"];
}

@functions {
    public void RenderRedAsteriks()
    {
        <span class="text-danger">*</span>
    }
}

<form asp-action="CreateFree" id="createForm">
    <div class="border-bottom mb-4">
        <h3>@ViewData["Title"]</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Form Group -->
            <div class="form-group">
                <label for="Title" class="control-label">@localizer["SampleDocumentTitle"]</label> @{ RenderRedAsteriks(); }
                <input asp-for="Title" class="form-control" placeholder="" aria-label="">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <!-- End Form Group -->
        </div>
    </div>
    <!-- End Row -->

    <div class="row">
        <div class="col-md-6">
            <div class="mb-7">
                <button type="submit" class="btn btn-block btn-primary">@localizer["Continue"]</button>
                <div class="spinner-border spinner" style="display: none;"></div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#createForm").submit(function () {
                var isValid = $('#createForm').valid();
                if (isValid) {
                    ShowFormSpinner();
                    DisableFormElements();
                }
            });
        });

        function ShowFormSpinner() {
            $("#createForm .spinner").show();
        }

        function DisableFormElements() {
            $("form#createForm input").attr("readonly", "readonly");
            $("form#createForm button").attr("disabled", "disabled");
        }
    </script>
}
