@model Expro.ViewModels.WithdrawRequestCreateVM
@using Expro.Models.Enums
@using Expro.Common

@{
    ViewData["Title"] = "Добавить новый запрос на вывод средств";

    int minimalAmountInBalanceForWithdrawal =
        int.Parse(ViewData["minimalAmountInBalanceForWithdrawal"].ToString());
    string minimalAmountInBalanceForWithdrawalStr =
        minimalAmountInBalanceForWithdrawal
        .ToString(AppData.Configuration.NumberViewStringFormat);

    int userBalance = int.Parse(ViewData["userBalance"].ToString());
    string userBalanceStr = userBalance
        .ToString(AppData.Configuration.NumberViewStringFormat);
}

@functions {
    public void RenderRedAsteriks()
    {
        <span class="text-danger">*</span>
    }
}

<h1>@ViewData["Title"]</h1>
<hr />

@if (ViewData["userHasNotEnoughtMoneyForWithdrawal"] != null)
{
    <div class="alert alert-soft-danger text-center rounded-0 mb-2" role="alert">
        Для того, чтобы оставить запрос на вывод средств, на Вашем балансе должно быть не менее @minimalAmountInBalanceForWithdrawalStr сумов.
        <b>Ваш баланс:</b> @userBalanceStr сум.
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-soft-info text-center rounded-0 mb-2">
                Вы можете снять от <b>@minimalAmountInBalanceForWithdrawalStr</b> до <b>@userBalanceStr</b> сум
            </div>
            <form asp-action="Create" id="createForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label> @{ RenderRedAsteriks(); }
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <div class="spinner-border spinner" style="display: none;"></div>
                </div>
            </form>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#createForm").submit(function () {
                var isValid = $('#createForm').valid();
                if (isValid) {
                    ShowFormSpinner();
                    DisableFormElements();
                }
            });
        });

        function ShowFormSpinner() {
            $("#createForm .spinner").show();
        }

        function DisableFormElements() {
            $("form#createForm input").attr("readonly", "readonly");
            $("form#createForm button").attr("disabled", "disabled");
        }
    </script>
}