@model Expro.ViewModels.DocumentsCountVM;
@{
    ViewData["Title"] = "UserDocuments";
}
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Мои статьи<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Практические документы<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/SampleDocument">Образцы документов<span class="badge badge-pill badge-light">3</span></a>
    </p>
</div>