@model Expro.ViewModels.DocumentsCountVM;
@{
    ViewData["Title"] = "UserDocuments";
}
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/ArticleDocumentPurchased">Мои статьи<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/SampleDocumentPurchased">Образцы документов<span class="badge badge-pill badge-light">3</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/PracticeDocumentPurchased">Практические документы<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/WithdrawRequest">Запросы на вывод средств<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/QuestionDocument">Мои вопросы<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>