@model Expro.ViewModels.DocumentDetailsForUserVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Образцовый документ";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Views/Shared/DocumentPurchasedPartials/_Details.cshtml", Model)

@section Scripts {
    <script>

    </script>
}