@model Expro.Models.ProfileExpertVM
@{
    ViewData["Title"] = "ExpertInfo";
}
<a href="#" class="list-group-item list-group-item-action active">Мой профайл</a>
<div class="list-group-item text-center">
    <img alt="Bootstrap Image Preview" class="rounded img-fluid" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
</div>
<div class="list-group-item">
    <p class="list-group-item-text text-center">
        <b>@Model.FirstName @Model.LastName</b>
        <br />
    </p>

    <p class="list-group-item-text">
        Рейтинг: 434
        <br />
        Ответы: 50
    </p>

</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        @await Component.InvokeAsync("ExpertStatus")
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        Мнения:<br />
        Положительно: 10
        <br />
        Отрицательно: 9
    </p>
    <p class="list-group-item-text">
        На сайте с: @Model.DateRegistered
    </p>
    <p class="list-group-item-text">
        Просмотрено:250
    </p>
</div>
