@model Expro.ViewModels.ProfileExpertFullInfoVM
@{
    ViewData["Title"] = "ExpertInfo";
}

<div class="list-group-item text-center">
    @await Component.InvokeAsync("ExpertShortInfo")
    @await Component.InvokeAsync("ExpertStatus")
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        Рейтинг: 434
        <br />
        Ответы: 50
    </p>
</div>

<div class="list-group-item">
    <p class="list-group-item-text">
        Мнения:<br />
        Положительно: 10
        <br />
        Отрицательно: 9
    </p>
    <p class="list-group-item-text">
        На сайте с: @Model.DateRegistered
    </p>
    <p class="list-group-item-text">
        Просмотрено:250
    </p>
</div>
