@model Expro.ViewModels.DocumentDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Образцовый документ";
    ViewData["DocumentType"] = DocumentTypesEnum.SampleDocument;
    ViewData["ApprovedStatusAlertText"] = "Образцовый документ подтвержден";
    ViewData["RejectedStatusAlertText"] = "Образцовый документ отменен";
}

<div class="w-lg-60 mx-lg-auto">
    <h2>@ViewData["Title"]</h2>

    @await Html.PartialAsync("/Areas/Admin/Views/DocumentPartials/_Details.cshtml", Model)
</div>

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/quill/dist/quill.snow.css">
}

@section Scripts {
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>

    <script src="~/js/Areas/Admin/Document/Details.js"></script>
    <script>
        $(document).ready(function () {
            SetDocumentType("@ViewData["DocumentType"]");
            InitQuill();
        });
    </script>
}