@model Expro.ViewModels.DocumentDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Образцовый документ";
    ViewData["DocumentType"] = DocumentTypesEnum.SampleDocument;
    ViewData["ApprovedStatusAlertText"] = "Образцовый документ подтвержден";
    ViewData["RejectedStatusAlertText"] = "Образцовый документ отменен";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Areas/Admin/Views/DocumentPartials/_Details.cshtml", Model)

@section Scripts {
    <script src="~/lib/ckeditor_4.15.0_standard/ckeditor/ckeditor.js"></script>
    <script src="~/js/Areas/Admin/Document/Details.js"></script>
    <script>
        SetDocumentType("@ViewData["DocumentType"]");

        InitCKEDITORForView();
    </script>
}