@model Expro.ViewModels.DocumentDetailsForUserVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Статья";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Views/Shared/DocumentPurchasedPartials/_Details.cshtml", Model)

@section Scripts {
    <script src="~/lib/ckeditor_4.15.0_standard/ckeditor/ckeditor.js"></script>
    <script>
        function InitCKEDITORForView() {
            var configViewMode =
            {
                extraPlugins: 'autogrow',
                autoGrow_minHeight: 1,
                autoGrow_maxHeight: 100000,
                autoGrow_onStartup: true,
                readOnly: true
            }

            $('.editorViewMode').each(function (e) {
                CKEDITOR.replace(this.id, configViewMode);
            });
        }
    </script>
    <script>
        InitCKEDITORForView();
    </script>
}