
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<form role="form">

    <div class="form-group">

        <label for="exampleInputPassword1">
            Отправить вопрос
        </label>
        <textarea class="form-control"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>

        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                Description lists
            </dt>
            <dd>
                A description list is perfect for defining terms.
            </dd>

        </dl>
    </div>
</div>