
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@*<form role="form">

    <div class="form-group">

        <label for="exampleInputPassword1">
            Отправить вопрос
        </label>
        <textarea class="form-control" placeholder="Напишите вопрос..."></textarea>

    </div>

    <button type="submit" class="btn btn-primary">
        Отправить
    </button>
</form>
<div class="row">
    <div class="col-md-12">

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                Вопросы
            </dt>
            <dd>
                Все вопросы на сайте
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                Статьи
            </dt>
            <dd>
                Все статьи на сайте
            </dd>

        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>
                Практика
            </dt>
            <dd>
               Все документы на сайте
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
               Образцы документов
            </dt>
            <dd>
               Все образцы документов на сайте
            </dd>

        </dl>
    </div>
</div>*@