@model Expro.ViewModels.DocumentDetailsForUserVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Практический документ";
}

<div class="w-lg-60 mx-lg-auto">
    <h2>@ViewData["Title"]</h2>

    @await Html.PartialAsync("/Views/Shared/DocumentPurchasedPartials/_Details.cshtml", Model)
</div>

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/quill/dist/quill.snow.css">
}

@section Scripts {
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>
    <script>
        $(document).ready(function () {
            InitQuill();
        });

        function InitQuill() {
            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var options = {
                //debug: 'info',
                //modules: {
                //    toolbar: '#toolbar'
                //},
                //placeholder: 'Compose an epic...',
                readOnly: true,
                //theme: 'snow'
            };
            var quill = $.HSCore.components.HSQuill.init('.js-quill', options);

            return quill;
        }
    </script>
}