@model Expro.ViewModels.DocumentDetailsForUserVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Практический документ";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Areas/User/Views/DocumentPartials/_Details.cshtml", Model)

@section Scripts {
    <script>

    </script>
}