<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Expro</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="row">
        <div class="col-md-2">
            <div class="main">
                <aside>
                    <div class="sidebar left ">
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" class="rounded-circle" alt="User Image" />

                            </div>
                            <div class="pull-left info">
                                <p>bootstrap develop</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        </div>
                        <ul class="list-sidebar bg-defoult">
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <i class="fa fa-th-large"></i> <span class="nav-label"> Эксперты </span> <span class="fa fa-chevron-left pull-right"></span> </a>
                                <ul class="sub-menu collapse" id="dashboard">
                                    <li class="active"><a href="/Admin/ExpertsList">Эксперты в ожидании</a></li>
                                    <li><a href="/Admin/WithdrawRequest">Вывод средств</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Tabs & Accordions</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">FontAwesome</a></li>
                                    <li><a href="#">Slider</a></li>
                                    <li><a href="#">Panels</a></li>
                                    <li><a href="#">Widgets</a></li>
                                    <li><a href="#">Bootstrap Model</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a> </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active"> <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span> <span class="fa fa-chevron-left pull-right"></span> </a>
                                <ul class="sub-menu collapse" id="products">
                                    <li class="active"><a href="#">CSS3 Animation</a></li>
                                    <li><a href="#">General</a></li>
                                    <li><a href="#">Buttons</a></li>
                                    <li><a href="#">Tabs & Accordions</a></li>
                                    <li><a href="#">Typography</a></li>
                                    <li><a href="#">FontAwesome</a></li>
                                    <li><a href="#">Slider</a></li>
                                    <li><a href="#">Panels</a></li>
                                    <li><a href="#">Widgets</a></li>
                                    <li><a href="#">Bootstrap Model</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a> </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa fa-chevron-left pull-right"></span></a>
                                <ul class="sub-menu collapse" id="tables">
                                    <li><a href=""> Static Tables</a></li>
                                    <li><a href=""> Data Tables</a></li>
                                    <li><a href=""> Foo Tables</a></li>
                                    <li><a href=""> jqGrid</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed active"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa fa-chevron-left pull-right"></span></a>
                                <ul class="sub-menu collapse" id="e-commerce">
                                    <li><a href=""> Products grid</a></li>
                                    <li><a href=""> Products list</a></li>
                                    <li><a href="">Product edit</a></li>
                                    <li><a href=""> Product detail</a></li>
                                    <li><a href="">Cart</a></li>
                                    <li><a href=""> Orders</a></li>
                                    <li><a href=""> Credit Card form</a> </li>
                                </ul>
                            </li>
                            <li> <a href=""><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span> </a></li>
                            <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                            <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                            <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                            <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                            <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span></a> </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>




    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - <a asp-area="" asp-controller="Home" asp-action="Index">Expro</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_FirebaseConfig" />

    @RenderSection("Scripts", required: false)
</body>
</html>
