<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>@ViewData["Title"] - Expro</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">

    <!-- CSS Front Template -->
    @RenderSection("CustomFrontStyles", required: false)
    <link rel="stylesheet" href="~/lib/frontTheme/css/theme.min.css">
</head>
<body>
    <style>
        .temporarily_hidden_item {
            display: none;
        }
    </style>

    <!-- ========== HEADER ========== -->
    @await Html.PartialAsync("_LayoutFrontHeader")
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Checkout Section -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 order-lg-1 mb-7 mb-lg-0">
                    <!-- Left Section -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 mb-5 mb-lg-0">
                                <div class="navbar-expand-lg navbar-expand-lg-collapse-block">
                                    <!-- Responsive Toggle Button -->
                                    <button type="button" class="navbar-toggler btn btn-block border py-3"
                                            aria-label="Toggle navigation"
                                            aria-expanded="false"
                                            aria-controls="sidebarNavExample2"
                                            data-toggle="collapse"
                                            data-target="#sidebarNavExample2">
                                        <span class="d-flex justify-content-between align-items-center">
                                            <span class="h5 mb-0">View all categories</span>
                                            <span class="navbar-toggler-default">
                                                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                                                </svg>
                                            </span>
                                            <span class="navbar-toggler-toggled">
                                                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                                                </svg>
                                            </span>
                                        </span>
                                    </button>
                                    <!-- End Responsive Toggle Button -->

                                    <div id="sidebarNavExample2" class="collapse navbar-collapse">
                                        <div class="mt-5 mt-lg-0">
                                            <h2 class="h4"><a class="text-inherit" href="#">Artificial Intelligence</a></h2>

                                            <!-- Nav Link -->

                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Experts">Эксперты</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Feedback">Отзывы</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/WithdrawRequest">Запросы на вывод средств</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Question">Вопросы</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/FinancePanel">Финансы</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Vacancy">Вакансии</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Resume">Резюме</a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="/Admin/Company">Компании</a>

                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                AI Product Manager
                                                <span class="badge bg-soft-secondary badge-pill">30+</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                AI Programming with Python
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Computer Vision
                                                <span class="badge badge-success badge-pill ml-1">New</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Deep Learning
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Deep Reinforcement Learning
                                                <span class="badge bg-soft-secondary badge-pill">18</span>
                                            </a>
                                            <!-- End Nav Link -->
                                            <!-- View More - Collapse -->
                                            <div class="collapse" id="collapseSectionOne">
                                                <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                    Machine Learning
                                                </a>
                                                <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                    Natural Language Processing
                                                </a>
                                            </div>
                                            <!-- End View More - Collapse -->
                                            <!-- Link -->
                                            <a class="link link-collapse small font-size-1 font-weight-bold pt-1" data-toggle="collapse" href="#collapseSectionOne" role="button" aria-expanded="false" aria-controls="collapseSectionOne">
                                                <span class="link-collapse-default">View more</span>
                                                <span class="link-collapse-active">View less</span>
                                                <span class="link-icon ml-1">+</span>
                                            </a>
                                            <!-- End Link -->
                                        </div>

                                        <div class="mt-5">
                                            <h3 class="h4"><a class="text-inherit" href="#">Data Science</a></h3>

                                            <!-- Nav Link -->
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Business Analytics
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Data Analyst
                                                <span class="badge badge-success badge-pill ml-1">New</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Data Engineer
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Data Scientist
                                                <span class="badge bg-soft-secondary badge-pill">4</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Data Visualization
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Predictive Analytics for Business
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Programming for Data Science
                                            </a>
                                            <!-- End Nav Link -->
                                        </div>

                                        <div class="mt-5">
                                            <h3 class="h4"><a class="text-inherit" href="#">Programming and Development</a></h3>

                                            <!-- Nav Link -->
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                AI Programming with Python
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Android Basics
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Android Developer
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Blockchain
                                                <span class="badge bg-soft-secondary badge-pill">4</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                C++
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Front End Web Developer
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Java Developer
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                iOS
                                                <span class="badge badge-success badge-pill ml-1">New</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Intro to Programming
                                            </a>
                                            <!-- End Nav Link -->
                                            <!-- View More - Collapse -->
                                            <div class="collapse" id="collapseSectionTwo">
                                                <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                    Java Developer
                                                </a>
                                                <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                    React
                                                </a>
                                            </div>
                                            <!-- End View More - Collapse -->
                                            <!-- Link -->
                                            <a class="link link-collapse small font-size-1 font-weight-bold pt-1" data-toggle="collapse" href="#collapseSectionTwo" role="button" aria-expanded="false" aria-controls="collapseSectionTwo">
                                                <span class="link-collapse-default">View more</span>
                                                <span class="link-collapse-active">View less</span>
                                                <span class="link-icon ml-1">+</span>
                                            </a>
                                            <!-- End Link -->
                                        </div>

                                        <div class="mt-5">
                                            <h3 class="h4"><a class="text-inherit" href="#">Cloud Computing</a></h3>

                                            <!-- Nav Link -->
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Cloud Developer
                                                <span class="badge bg-soft-secondary badge-pill">9+</span>
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Cloud Dev Ops Engineer
                                            </a>
                                            <!-- End Nav Link -->
                                        </div>

                                        <div class="mt-5">
                                            <h3 class="h4"><a class="text-inherit" href="#">Business</a></h3>

                                            <!-- Nav Link -->
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Business Analytics
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Digital Marketing
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Marketing Analytics
                                            </a>
                                            <!-- End Nav Link -->
                                            <!-- View More - Collapse -->
                                            <div class="collapse" id="collapseSectionThree">
                                                <a class="nav-link" href="#">
                                                    Predictive Analytics for Business
                                                </a>
                                            </div>
                                            <!-- End View More - Collapse -->
                                            <!-- Link -->
                                            <a class="link link-collapse small font-size-1 font-weight-bold pt-1" data-toggle="collapse" href="#collapseSectionThree" role="button" aria-expanded="false" aria-controls="collapseSectionThree">
                                                <span class="link-collapse-default">View more</span>
                                                <span class="link-collapse-active">View less</span>
                                                <span class="link-icon ml-1">+</span>
                                            </a>
                                            <!-- End Link -->
                                        </div>

                                        <div class="mt-5">
                                            <h3 class="h4"><a class="text-inherit" href="#">Career <span class="badge badge-success badge-pill ml-1">New</span></a></h3>

                                            <!-- Nav Link -->
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Applying to Jobs
                                            </a>
                                            <a class="dropdown-item d-flex justify-content-between align-items-center px-0" href="#">
                                                Interviewing
                                            </a>
                                            <!-- End Nav Link -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Section -->
                </div>

                <div class="col-lg-9 order-lg-2">
                    @RenderBody()                   
                </div>
            </div>
        </div>
        <!-- End Checkout Section -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== FOOTER ========== -->
    @await Html.PartialAsync("_LayoutFrontFooter")
    <!-- ========== END FOOTER ========== -->
    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Sign Up Modal -->
    @await Html.PartialAsync("_LayoutFrontSecondaryContent")
    <!-- End Sign Up Modal -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
       data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- End Go to Top -->
    <!-- Our libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_FirebaseConfig" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Site/userTrackerHub_signalr.js"></script>



    <!-- JS Global Compulsory  -->
    <script src="~/lib/frontTheme/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/frontTheme/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/frontTheme/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/lib/frontTheme/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="~/lib/frontTheme/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

    <!-- JS Front -->
    <script src="~/lib/frontTheme/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // INITIALIZATION OF HEADER
            // =======================================================
            var header = new HSHeader($('#header')).init();


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();


            // INITIALIZATION OF UNFOLD
            // =======================================================
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });


            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            $('.js-animation-link').each(function () {
                var showAnimation = new HSShowAnimation($(this)).init();
            });


            // INITIALIZATION OF GO TO
            // =======================================================
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="~/lib/frontTheme/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>