<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Expro</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Мой профайл</a>
                                <div class="list-group-item text-center">
                                    <img alt="Bootstrap Image Preview" class="rounded" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Анкета</a>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    @RenderBody()

                </div>
                <div class="col-md-3">
                    <div class="row mb-1">
                        <div class="col-md-12">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Баланс</a>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-12">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">Правовые документы</a>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                                <div class="list-group-item">
                                    <p class="list-group-item-text">
                                        Lorem ipsum dolor sit amet
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>

</main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - <a asp-area="" asp-controller="Home" asp-action="Index">Expro</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_FirebaseConfig" />

    @RenderSection("Scripts", required: false)
</body>
</html>
