@model Expro.ViewModels.BalanceVM
@{
    ViewData["Title"] = "UserBalance";
}

<a href="#" class="list-group-item list-group-item-action active">Баланс</a>
<div class="list-group-item">
    <p class="list-group-item-text">
        Баланс @Model.Balance
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Пополнить баланс</a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Транзакции</a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Оплата за услуги</a>
    </p>
</div>
