@model Expro.ViewModels.DocumentDetailsForSiteVM
@using Expro.Models.Enums
@using Expro.Common

@{
    ViewData["Title"] = "Практический документ - детали";
    ViewData["DocumentType"] = DocumentTypesEnum.PracticeDocument;
}

<h1>@ViewData["Title"]</h1>
<hr />

@await Html.PartialAsync("/Views/DocumentPartials/_Details.cshtml", Model)

@section Scripts {
    <script src="~/lib/ckeditor_4.15.0_standard/ckeditor/ckeditor.js"></script>
    <script src="~/js/Site/Document/Details.js"></script>
    <script>
        SetLikeType("@Constants.LikeTypes.DOCUMENT");
    </script>
}