@using Expro.Models.Enums
@using Expro.ViewModels

@{
    ViewData["Title"] = "Практические документы";
    ViewData["DocumentType"] = DocumentTypesEnum.PracticeDocument;
}

<h1>@ViewData["Title"]</h1>
<br />

@await Html.PartialAsync("/Views/DocumentPartials/_Index.cshtml")

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script src="~/js/Site/Index.js"></script>
    <script>
        SetVariables(
            "@ViewData["DocumentType"]",
            @((int)DocumentContentTypesEnum.file),
            @((int)DocumentPriceTypesEnum.Paid));
    </script>
}