@model Expro.ViewModels.BalanceVM
@{

}

<h6 class="text-cap small">Баланс</h6>

<ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Баланс
            <span class="badge badge-soft-dark badge-pill nav-link-badge">@Model.Balance</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Пополнить баланс
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Снять деньги
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Транзакции
        </a>
    </li>
</ul>

<!-- End List -->