
<h6 class="text-cap small">@localizer["LegalDocuments"]</h6>

<!-- List -->
<ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
    <li class="nav-item">
        <a class="nav-link " href="/Home/TermsOfUse">
            <i class="fas fa-check nav-icon"></i> @localizer["TermsOfUse"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Условия платных услуг
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Инструкция по размещению документов
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="#">
            <i class="fas fa-check nav-icon"></i> Условия ответов на вопросы
        </a>
    </li>
</ul>
<!-- End List -->
