@model Expro.ViewModels.UserFinancePanelVM

@{
    ViewData["Title"] = localizer["FinancePanel"];
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Views/Shared/FinancePanelPartials/_DetailsOfUser.cshtml", Model)