@model Expro.ViewModels.ExpertFinancePanelVM

@{
    ViewData["Title"] = localizer["FinancePanel"];
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Views/Shared/FinancePanelPartials/_DetailsOfExpert.cshtml", Model)