@model Expro.ViewModels.DocumentsCountVM;
@{
    ViewData["Title"] = "ExpertDocuments";
}

<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Мои ответы<span class="badge badge-pill badge-light">2</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Мои статьи<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Практические документы<span class="badge badge-pill badge-light">@Model.PracticDocumentCount</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/User/SampleDocument">Образцы документов<span class="badge badge-pill badge-light">@Model.SampleDocumentCount</span></a>
    </p>
</div>