@model Expro.ViewModels.DocumentsCountVM;
@{
    ViewData["Title"] = "ExpertDocuments";
}

<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Мои ответы<span class="badge badge-pill badge-light">2</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/ArticleDocument">Мои статьи<span class="badge badge-pill badge-light">@Model.ArticleDocumentsCount</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/SampleDocument">Образцовые документы<span class="badge badge-pill badge-light">@Model.SampleDocumentsCount</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/PracticeDocument">Практические документы<span class="badge badge-pill badge-light">@Model.PracticeDocumentsCount</span></a>
    </p>
</div>

<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/ArticleDocumentPurchased">Купленные статьи<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/SampleDocumentPurchased">Купленные Образцы документов<span class="badge badge-pill badge-light">3</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/PracticeDocumentPurchased">Купленные Практические документы<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="/Expert/WithdrawRequest">Запросы на вывод средств<span class="badge badge-pill badge-light">6</span></a>
    </p>
</div>