@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Изменение пароля";
}

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>
    <div class="col-md-4">  </div>
</div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        <form method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group text-center">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control text-center" />
                <span asp-validation-for="Input.Password"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control text-center" />
                <span asp-validation-for="Input.NewPassword"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control text-center" />
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary">Сохранить</button></div>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
