@page
@model ChangePasswordModel
@{
    ViewData["Title"] = localizer["ChangePassword"];
    Layout = "_LayoutFrontAuth";
}

<h2 class="">@ViewData["Title"]</h2>
<form method="post">
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.Password"></label>
        <input class="form-control" asp-for="Input.Password" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.Password"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.NewPassword"></label>
        <input class="form-control" asp-for="Input.NewPassword" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.NewPassword"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.ConfirmPassword"></label>
        <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <!-- End Form Group -->
    <!-- Button -->
    <div class="row align-items-center mb-5">
        <div class="col-sm-12 text-sm-center">
            <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Save"]</button>
        </div>
    </div>
    <!-- End Button -->
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
