@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = localizer["EmailConfirm"];
}

<h3>ViewData["Title"]</h3>

<h4>@localizer["EmailConfirmed"] <a href="/Identity/Account/Login">@localizer["Login"]</a></h4>