@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = localizer["ForgotPasswordConfirmation"];
}

<h3>@ViewData["Title"]</h3>
<p>
    @localizer["PleaseCheckYourEmailToResetYourPassword"]
</p>

