@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = localizer["ForgotYourPassword"];
    Layout = "_LayoutFrontAuth";
}


<h4>
    @ViewData["Title"] @ViewData["EnterYourEmail"]
</h4>
<hr />


<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.Email"></label>
        <input type="email" asp-for="Input.Email" class="form-control" tabindex="1" placeholder="@localizer["Email"]" aria-label="Email" required
               data-msg="Please enter a valid email address.">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <!-- End Form Group -->
    <div class="text-sm-center">
        <button type="submit" class="btn btn-primary transition-3d-hover">@localizer["Send"]</button>
    </div>
</form>



@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
