@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
    Layout = "_LayoutFrontRegistration";
}
    <form class="js-validate w-md-75 w-lg-50 mx-md-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <!-- Title -->
        <div class="mb-5 mb-md-7 text-sm-center">
            <h1 class="h2 mb-0">@ViewData["Title"]</h1>
            <p>Login to manage your account.</p>
        </div>

        <!-- End Title -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Surname"></label>
            <input class="form-control" asp-for="Input.Surname" placeholder="Фамилия" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Surname"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Name"></label>
            <input class="form-control" asp-for="Input.Name" placeholder="Имя" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Name"></span>
        </div>

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.PhoneNumber"></label>
            <input class="form-control" asp-for="Input.PhoneNumber" placeholder="Телефон" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.PhoneNumber"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Email"></label>
            <input class="form-control" asp-for="Input.Email" placeholder="Емейл" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Password"></label>
            <input class="form-control" asp-for="Input.Password" placeholder="******" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.ConfirmPassword"></label>
            <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="******" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        @*<div class="js-form-message form-group">
            <label class="input-label" asp-for="Input."></label>
            <input class="form-control" asp-for="Input." placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input."></span>
        </div>*@
        <!-- End Form Group -->
      
        <!-- Button -->
        <div class="row align-items-center mb-5">
            <div class="col-sm-12 text-sm-center">
                <button type="submit" class="btn btn-primary transition-3d-hover">Регистрация</button>
            </div>
        </div>
        <!-- End Button -->
    </form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
