@model Expro.ViewModels.QuestionSetAsPaidFormVM
@using Expro.Models.Enums
@using Expro.Common

@functions {
    public void RenderRedAsteriks()
    {
        <span class="text-danger">*</span>
    }
}

<form asp-controller="Question" asp-action="SetAsPaid"
      id="setAsPaidForm"
      onsubmit="SubmitSetAsPaidForm()"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="PostFailure"
      data-ajax-success="PostSuccess"
      data-ajax-complete="PostCompleted">

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            <label asp-for="@Model.Price"></label>
        </h5>
        <button type="button" class="btn btn-xs btn-icon btn-soft-secondary" data-dismiss="modal" aria-label="Close">
            <svg aria-hidden="true" width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
            </svg>
        </button>
    </div>
    <div class="modal-body">
        <div class="border-bottom mb-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <input asp-for="ID" type="hidden" />

        <div class="row">
            <div class="col-md-12">
                <p>
                    <input asp-for="@Model.Price" class="form-control" />
                    <span asp-validation-for="@Model.Price" class="text-danger"></span>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer" id="actionButtonsBox">
        <button type="button" class="btn btn-white" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-indigo">Сохранить</button>
        <div class="spinner-border spinner" style="display: none;"></div>
    </div>
</form>

<script>
    function SubmitSetAsPaidForm() {
        var isValid = $('#setAsPaidForm').valid();
        if (isValid) {
            $("#setAsPaidForm .spinner").show();

            DisableFormElements();

            return true;
        }
        else
            return false;
    }

    function DisableFormElements() {
        $("#setAsPaidForm input").attr("readonly", "readonly");
        $("#setAsPaidForm textarea").attr("readonly", "readonly");
        $("#setAsPaidForm button").attr("disabled", "disabled");
    }

    function PostFailure(data) {
        alert("Ошибка: " + data.responseJSON.errorMessage);
        //console.log(data);

        $("#setAsPaidForm .spinner").hide();
        $("#setAsPaidForm input").removeAttr("readonly");
        $("#setAsPaidForm textarea").removeAttr("readonly");
        $("#setAsPaidForm button").removeAttr("disabled");
    }

    function PostSuccess(data) {
        //alert("success");
        console.log(data);
        //alert("success");

        location.reload();
    }

    function PostCompleted(data) {
        //alert("completed");
        //console.log(data);
        //alert("completed");
        //$("#setAsPaidForm .spinner").hide();
    }
</script>