
@{
    ViewData["Title"] = "Index";
}

<!-- Page Header -->
<div class="container">
    <div class="page-header">
        <!-- Media -->
        @await Component.InvokeAsync("ExpertShortInfo", new { id = ViewBag.feedbackToUserID })
        <!-- End Media -->
    </div>
</div>

<div id="tableBox">
    <div class="spinner-border spinner" style="display: none;"></div>
    <div class="table-responsive">
        <table id="list" class="table table-borderless table-thead-bordered table-align-middle" width="100%">
            <thead class="thead-light">
                <tr>
                    <th>Отзывы об эксперте</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="spinner-border spinner" style="display: none;"></div>
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script>
        var table;

        $(document).ready(function () {

            var feedbakToUserID = '@ViewBag.feedbackToUserID';

            table = $("table#list").DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                lengthChange: false,
                scrollX: true,
                lengthChange: false,
                ajax:
                {
                    url: "/Feedback/Search?feedbackToUser=" + feedbakToUserID,
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                    },
                },
                columns: [
                    {
                        "data": 0,
                        "render": function (data, type, full, meta) {

                            var html = '';
                            html += '<div class="row mb-2">';
                            html += '<div class="col-lg-4 mb-3 mb-lg-0">';
                            html += '<div class="media align-items-center">';
                            html += '<div class="avatar avatar-circle mr-3">';
                            html += '<img class="avatar-img" src="' + full.feedbackCreatedUserAvatar.url + '" alt="' + full.feedbackCreatedUserAvatar.url + '">';
                            html += '</div>';
                            html += '<div class="media-body">';
                            html += '<span class="d-block text-body font-size-1">' + full.feedbackDateCreated + '</span>';
                            html += '<h4 class="mb-0">' + full.feedbackCreatedUserFullName + '</h4>';
                            html += '</div>';
                            html += '</div>';
                            html += '</div>';
                            html += '<div class="col-lg-8">';
                            html += '<ul class="list-inline mb-2">';
                            for (var i = 0; i < full.stars; i++) {
                                html += '<li class="list-inline-item mx-0"><img src="/lib/frontTheme/svg/illustrations/star.svg" alt="Review rating" width="16" height="16"></li>';
                            }
                            for (var i = 0; i < 5 - full.stars; i++) {
                                html += '<li class="list-inline-item mx-0"><img src="/lib/frontTheme/svg/illustrations/star-muted.svg" alt="Review rating" width="16" height="16"></li>';
                            }

                            html += '</ul>';
                            html += '<p>' + full.feedbackText +'</p>';
                            html += '</div>';
                            html += '</div>';

                            return html;
                        }
                    }
                ]
            });

            table
                .on('preDraw', function () {
                    $("#tableBox .spinner").show();
                })
                .on('draw.dt', function () {
                    $("#tableBox .spinner").hide();
                });

            $("#statusDD").change(function () {
                table.draw();
            });
        });
    </script>

    <script>
        // INITIALIZATION OF SELECT2
        // =======================================================
        $('.js-custom-select').each(function () {
            var select2 = $.HSCore.components.HSSelect2.init($(this));
        });
    </script>
}