@model Expro.ViewModels.Expert.ExpertProfileAvatarVM
@{
    ViewData["Title"] = "Статус эксперта";
}
<div class="container-fluid no-padding">
    <div class="row">
        <div class="col-md-12">
            <img src="@Model.Avatar.Url" alt="Avatar" class="img-thumbnail responsive">
        </div>
    </div>
</div>
