@model Expro.ViewModels.DocumentDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Практический документ";
    ViewData["DocumentType"] = DocumentTypesEnum.PracticeDocument;
    ViewData["ApprovedStatusAlertText"] = "Практический документ подтвержден";
    ViewData["RejectedStatusAlertText"] = "Практический документ отменен";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("/Areas/Admin/Views/DocumentPartials/_Details.cshtml", Model)

@section Scripts {
    <script src="~/js/Areas/Admin/Details.js"></script>
    <script>
        SetDocumentType("@ViewData["DocumentType"]");
    </script>
}