
@{
    ViewData["Title"] = "TermsOfUse";
}
<a href="#" class="list-group-item list-group-item-action active">Правовые документы</a>
<div class="list-group-item">
    <p class="list-group-item-text">
        <a href="#">Условия использования</a>
    </p>
    <p class="list-group-item-text">
        <a href="#">Условия платных услуг</a>
    </p>
    <p class="list-group-item-text">
        <a href="#">
            Инструкция по размещению документов
        </a>
    </p>
    <p class="list-group-item-text">
        <a href="#">Условия ответов на вопросы</a>
    </p>
</div>
